<%= form_for @story do |s| %>
<% if @story.errors.any? %>
  <h2>There were errors saving your story</h2>
  <ul>
    <% @story.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
  <p>
  <%= s.label :title %> 
  <%= s.text_field :title %> 

  <p>
  <%= s.label :category %> 
  <%= s.text_field :category %> 

  <p>
  <%= s.label :upvotes %> 
  <%= s.number_field :upvotes %> 

  <p>
  <%= s.label :url %> 
  <%= s.url_field :url %> 

  <p>
  <%= s.submit %> 
<% end %>
